version: '2'

services:
  postgres:
    image: postgres:9.4
    ports:
      - "5432:5432"
    volumes:
      - ./docker/postgres/:/docker-entrypoint-initdb.d/
    environment:
      - POSTGRES_PASSWORD=123456789
#  zookeeper:
#    image: 'bitnami/zookeeper:latest'
#    ports:
#      - '2181:2181'
#    environment:
#      - ALLOW_ANONYMOUS_LOGIN=yes
##      - ZOO_ENABLE_AUTH=yes
##      - ZOO_SERVER_USERS=kafka
##      - ZOO_SERVER_PASSWORDS=kafka_password
#  kafka:
#    image: 'bitnami/kafka:latest'
#    ports:
#      - '9092:9092'
#    volumes:
#      - ./docker/kafka:/bitnami/kafka
#    environment:
#      - ALLOW_PLAINTEXT_LISTENER=yes
#      - KAFKA_ZOOKEEPER_CONNECT=zookeeper:2181
##      - KAFKA_LISTENERS=SASL_SSL://:9092
##      - KAFKA_ADVERTISED_LISTENERS=SASL_SSL://:9092
##      - KAFKA_ZOOKEEPER_USER=kafka
##      - KAFKA_ZOOKEEPER_PASSWORD=kafka_password
#      - KAFKA_BROKER_USER=null
#      - KAFKA_BROKER_PASSWORD=null
